

.custom-button{
width: 205px;
height: 47.73px;
margin:20px;
margin-left:25%;
background: #A66EC0;
border-radius: 0px 70px;
letter-spacing: 0.5px;
line-height: 50px;
font-family: 'Open Sans Condensed';
font-weight: bolder;
border: none;
cursor: pointer;
font-size: 16px;
}

.custom-button:hover{
    background-color: crimson;
}