.allNews{
    
    margin:10px auto;
    display:flex; 
    flex-direction:row; 
    background-color: rgb(231, 231, 229);
    /* background-color: coral; */
   
}

.news{
    display:grid;
    grid-template-columns:repeat(1, 1fr);
    /* grid-template-columns:repeat(2, 1fr); */
    grid-gap: 5px;
    width:700px;
    /* width-width:800px; */
    padding:2px;
    /* border: 1px solid lightgray; */
    border-radius:5px;
    color: rgb(15, 15, 15);
    margin:5px auto;
    /* background-color: blue; */
    max-height: fit-content;
    

}

.news_title{
    padding-bottom: 2px;
    /* border-bottom: 1px solid lightgray; */
    display:flex;
    font-weight: 700;
    font-size: medium;
    width: 100%;
    justify-content: center;
    margin: auto;
    color:crimson
}

.content{
    border: 0.5px solid rgb(212, 212, 212);
    background-color: whitesmoke;
    width:700px;
    max-height: fit-content;
    

    

    /* background-color: cyan; */
    
}

.allcontent{
   display:flex;
   flex-direction: row;
}

.news-desc{
    padding-top:2px;
    padding:3px;
    line-height: 25px;
    font-size: 16px;
    padding-bottom: 2px;
    color: rgb(12, 12, 12);
    display: flex;
    /* margin-left: 40px; */

}

#thought{
    display:flex;
    justify-content: flex-end;
    margin-left:auto;
}

/* .like{
    padding:5px;
}
.comment{
    padding:5px;
}
.share{
    padding:5px;
} */

.image{
    max-height:200px;
    max-width: 250px;
    display:flex;
    
    /* display:grid;
    justify-items: center;
    grid-template-rows: auto;
    grid-template-columns: minmax(0, 1fr); */
}

/* .image-group{
    width:200px;
    height:200px;
    display:flex;
} */

#breaking{
    display:flex;
    margin-left:auto;
}

.reaction{
    display:flex;
    flex-direction:row;
    padding:1px;
    margin:0 0 50px;
    
    /* justify-content: space-between; */

    
    
}

 .Likes{
     margin-right: 10px;
     
  /* display:flex;
  flex-direction: row; */
  }
  .numberoflikes{
      margin-right: 0px;
    /* justify-content:space-between; */
  }
.Likes:hover{
    color: darkcyan;
}

.Unlike{
    display:flex;
    /* margin-left:20px; */
    
} 
.Unlike:hover{
    color: darkcyan;
}

@media screen and (max-width: 936px){
    .allNews{
        display:flex;
        flex-direction: column;
       
        
    }
}